@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&family=Poppins:wght@600&display=swap");

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  font-family: Montserrat;
}

.App {
  width: 100%;
  min-height: 100vh;
  background-image: radial-gradient(#a7a7a7 2px, transparent 2px);
    background-size: 87px 87px;
    background-color: #e0e0e0;
  
}


.w-40 {
  width: 40%;
}

.w-60 {
  width: 60%;
}

.h-75vh {
  min-height: 85vh;
}

.mr-4 {
  margin-right: 40px;
}

.m-50 {
  margin-top: 50px;
}

.customBtnstyle {
  background: #e6270c !important;
  border: none !important;
  box-sizing: border-box !important;
}

button:hover {
  background: #8e8e8e !important;
  
  
}


input:focus {
  outline: none !important;
  border-color: #e6270c !important;
}


.customCard {
  width: auto;
  min-height: 250px;
}

.customCard img {
  max-width: 550px !important;
  min-height: 200px !important;
}


.cusstomBoxStyle {
  background: white;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
  border-radius: 10px;
  max-width: 550px !important;
  min-height: 200px !important;
}



.progressImg {
  float: right;
  max-width: 550px;
  min-height: 400px;
  
}

.outerProgressCont {
  height: 400px !important;
}

.progressCont {
  position: absolute;
  max-height: 380px !important;
  max-width: 600px !important;
  top: 10px;
  left: 0;
  z-index: 2;
}

.smallBoldText {
  font-size: 14px !important;
}

.bar {
  height: 10px !important;
}

.customForm {
  max-width: 660px !important;
  min-height: 600px !important;
}

::placeholder {
  font-size: 16px;
  color: rgb(181, 181, 181) !important;
}

.wrapper {
  position: relative;
  height: 80px;
}

.label {
  position: absolute;
  top: -15px;
  left: 20px;
  z-index: 2;
  font-size: 19px;

}

.input {
  position: absolute;
  padding: 18px 20px !important; 
}


.image {
  width: 100%;
  height: 500px !important;
}

.profileImg {
  
  width: 120px !important;
  height: 120px !important;
  margin: 50px;
  border-radius: 50%;
  
}

.reviewText h3 {
  font-size: 30px !important;
}

.reviewText p {
  font-size: 25px;
}

.mySwiper {
  width: 100% !important;
  height: 100% !important;
  height: 500px !important;
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.swiper-slide {
  padding:  60px 0;
}

.swiper-slide img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  padding: 20px;
}

.swiper-button-prev,
.swiper-button-next {
  color: #e6270c !important;
  
} 
.swiper-pagination-bullet-active {
  background-color: #e6270c !important;
}



/* Work Content component */

.workImage {
  width: 100%;
  position: relative;
  max-width: 550px !important;
  min-height: 200px !important;
  transition: all .4s ease-in-out;
  
}

.imgWrapper {
  z-index: 8;
  transform: scale(1);
  transition: all .4s ease-in-out;
  /* padding: 0 !important; */
  
}


.imgContent {
    box-sizing: border-box;
    width: 94% !important;
    height: 100%;
    position: absolute;
    top: 0;
    left: 12px;
    text-align: center;
    padding-top: 30%;
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    
    
}

.imgContent {
  visibility: none;
  opacity: 0;
  transition: opacity 0.3s;
  transition: all .4s ease-in-out;
}

.imgWrapper:hover .imgContent {
  transform: scale(1.05);
  visibility: visible;
  opacity: 1;
}

.imgWrapper:hover .workImage {
  transform: scale(1.05);
  
}


/* icons in contacts */

.iconWrapper {
  position: absolute;
  top: -15%;
  width: 60px !important;
  height: 60px !important;
  transform: rotate(45deg);
  background:  #e6270c !important;
}

.icon {
  position: absolute;
  
  font-size: 30px;
  transform: rotate(-45deg);
  top: 15px;
  left: 15px;
}

.contactBox {
  margin: 20px 0;
  min-width: 120px !important;
  min-height: 160px !important;
}


hr {
  border-top: 5px solid #e6270c !important;
  opacity: 1 !important;
  
}

@media (max-width: 768px) {
  .main {
    flex-direction: column;
  }

  .main>div {
    min-height: 80vh;
    padding: 0 !important;
    margin: 0 !important;
  }

  .buttons {
    flex-direction: column;
  }

  .outerProgressCont {
    flex-direction: column !important;
    position: static !important;
    justify-content: center !important;
    padding: 0 !important;
    gap: 30px;
    

  }

  .outerProgressCont>div {
    width: 100% !important;
  }

  .progressCont {
    position: static !important;
    width: 100% !important;
    
  }

  .progressImg {
    margin: 0 !important;
    width: 100%;
  }

  .contactsMedia {
    flex-direction: column;
    gap: 40px;
  }

}